/* Color scheme stolen from Sergey Karayev */
a {
    color: #1772d0;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #f09228;
    text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px
}

strong {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
}

.container {
    max-width: 800px;
    margin: 20px auto 0 auto;
}

.header-row {
    display: flex;
}

.header-text {
    flex: 1;
    margin: 10px auto 10px auto;
}

.header-pic {
    height: 100%;
}

.header-pic img {
    height: 250px;
}

heading {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 22px;
}

papertitle {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700
}

name {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 32px;
}