/* Color scheme stolen from Sergey Karayev */
a {
    color: #1772d0;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #f09228;
    text-decoration: none;
}

body,
td,
th,
tr,
p,
a,
strong,
heading,
papertitle,
name {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

body,
td,
th,
tr,
p,
a,
strong,
papertitle {
    font-size: 14px
}

heading {
    font-size: 22px;
    text-align: center;
    display: block;
}

papertitle {
    font-weight: 700
}

name {
    font-size: 32px;
}

.container {
    max-width: 800px;
    margin: 20px auto 0 auto;
}

.header-row {
    display: flex;
    margin-bottom: 50px;
}

.content-row {
    display: flex;
}

.header-text {
    flex: 1;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px;
}

.content-text {
    flex: 1;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px;
}

.header-pic {
    margin: auto;
}

.content-pic {
    margin: auto;
}

.header-pic img {
    display: block;
    margin: auto;
    height: 250px;
}

.content-pic img, iframe {
    display: block;
    margin: auto;
    width: 250px;
}

footer {
    padding-right: 20px;
}

/* For mobile devices */
@media screen and (max-width: 480px) {
  body .header-row {
    display: block;
  }
  body .content-row {
    display: block;
  }
  body .header-text {
    padding: 5px;
  }
  body .container {
      margin: 5px auto 0 auto;
  }
}

/* For large screens */
@media screen and (min-width: 900px) {

    body,
    td,
    th,
    tr,
    p,
    a,
    strong,
    papertitle {
        font-size: 20px
    }

    heading {
        font-size: 28px;
    }

    name {
        font-size: 45px;
    }

    body .container {
        max-width: 1200px;
    }

    body .header-pic img {
        height: 350px;
    }

    body .content-pic img, iframe {
        width: 350px;
    }
}